body{
    background-color: black;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 10%;
}

.header{
    background-image: url(img/iStock_000049566594_XXXLarge_01.jpg);
    background-size: 100%;
}

.second{
    background-image: url(img/iStock_000049566594_XXXLarge_01.jpg);
    background-size: 100%;
}

p{
    color: white;
}

h1{
    color: white;
}

ul{
    color: white;
    text-align: left;
}