body{
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0;
    max-width: 1920px;
}

.header{
    background-image: url(iStock_000049566594_XXXLarge_01.png);
    padding: 1% 0;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}

.test, .site{
    padding: 1% 0;
    text-align: center;
}

.headerText{
    padding-right: 5%;
    padding-left: 5%;
}

.itwillbe{
    background-image: url(iStock_000049566594_XXXLarge_01.png);
    padding: 1% 0;
    background-repeat: no-repeat;
    background-position: left;

}

p{
    color: white;
    padding-right: 5%;
}

h1, h2, li{
    color: white;
}

h1, h2{
    text-align: center;
}

.site{
    padding: 5%;
}

.left, .right{
        width: 44%;
        display: inline-block;
        text-align: left;
        padding-right: 5%;
    }

    ul{
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .wewant, .itwillbe{
        padding-bottom: 5%;
    }


    @media(max-width:450px){
        .left, .right{
            width: 90%;
            text-align: left;
            padding-right: 5%;
        }
        ul{
            margin-block-start: 0;
            margin-block-end: 0;
        }
        .wewant, .itwillbe{
            padding-bottom: 10%;
        }
    }